<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Talent Hunt</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">
                        <a class="nav-link" routerLink="recruitment">Add Recruitment</a>
                    </li>

                    <li class="nav-item">
                            <a class="nav-link" routerLink="displayrecruitment">View Recruitment</a>
                        </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="interview">Schedule Interview</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="display">View Schedule</a>
            </li>


            <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="recmain" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recruitment</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" routerLink="recruitment">Add Candiate details</a>
                        <a class="dropdown-item" routerLink="display">Display details</a>
                    </div>
                </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="movies">Movies</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="news">News</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="users">users</a>
            </li> -->
        </ul>

        <ul class="navbar-nav mt-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>

        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>

<!-- <a class="nav-link" routerLink="parent">Compnent relationship</a>
<a class="nav-link" routerLink="lifecycle">lifecycle</a> -->


